.heading{
width:100%;
text-align:left;
}
.heading h2{
display:inline;
}
.heading button{
float:right;
border: 2px solid white;
}
.mario{
width:100%;
}
h4{
width: 100%;
bottom: 0;
margin: 0px;
background-color: aquamarine;
line-height: 2;
}
.modal-dialog{
width: 85%;
}
.image{
display: inline-block;
width: 45%;
}
video{
background:url('game_console.png');
background-size: cover;
background-position: center;
padding: 25px;

}